{% extends 'home/base.html' %}

{% block title %} Lista dos Estudos {% endblock %}

{% block inicial %}  
    {% if user.is_authenticated %}
        <h2 class="hor2">Olá, {{ user }}! </h2>
        <h1>Lista de Estudos</h1>
        <ul>
        {% for estudo in estudo_list %}
        <div class="card">
            <div class="card-header hor">
                <a href="{% url 'home:estudo_list' %}" class="lista">{{ estudo }}</a>
                <button>Visualizar</button>
                <button>Atualizar</button>

            </div>    
  
        </div> 
        <br>   
        {% endfor %} 
    {% else %}
    <center>
        <div id="page-container">
            <div id="content-wrap">
                <h1>Você precisa estar logado para ver essa pagina!</h1>
            
                <a href="{% url 'login' %}" id="login">
                    <button type="submit" class="btnlogin" style="width: 30%;">Login</button>
                </a>
            </div>
        </div>
    </center>  
    {% endif %}

{% endblock %}