{% extends 'home/base.html' %}

{% block title %} Visualizar estudo {% endblock %}

{% block inicial %} 
<div id="page-container">
    <div id="content-wrap">
        <h1>Visualizar estudo </h1>

        {% if user.is_authenticated %}
                <h3 class="hor2">Olá, {{ user }}! </h3>
                <h3 class="hor2">Ultima vez logado {{ user.last_login }}</h3>
                {% for estudo in estudo_list %}
                    {% if user.id == estudo.owner %}
                        <div class="card">
                            <div class="card-header">
                                <h3>Estudo id: {{ estudo.id }} </h3>
                                <h3>Nome do estudo: {{ estudo.name_study }} </h3>
                            </div>
                            <br>
                            <p class="lista">Descrição do estudo: {{ estudo.descricao }}</p>
                            <br>
                            <p class="lista">(x,y) = ({{ estudo.x }},{{ estudo.y }})</p>
                            <br>
                            <p>Usuario: {{ user.username }}</p>
                        </div>
                    {% else %}
                        <br>
                        <h1>Este estudo não esta disponivel!</h1>
                        <br>
                        <p class="font4"><strong>Responsabel por esse estudo:</strong> <span style="color: red ;">{{ estudo.usuario_user_id }}</span> <strong>e seu id é:</strong> <span style="color: red ;">{{ estudo.usuario_user_id.id }}</span></p> 
                        <br>
                        <p class="font4"><strong>Você é:</strong> <span style="color: red ;">{{ user }}</span> <strong>e seu id é:</strong><span style="color: red ;"> {{ user.id }}</span></p>
                    {% endif %}    
                {% endfor %}
        {% else %}
            <center>
                <div id="page-container">
                    <div id="content-wrap">
                        <h1>Você precisa estar logado para ver essa pagina!</h1>
                    
                        <a href="{% url 'login' %}" id="login">
                            <button type="submit" class="btnlogin" style="width: 30%;">Login</button>
                        </a>
                    </div>
                </div>
            </center>  
        {% endif %}
    </div>    
</div>

{% endblock %}