{% extends 'home/base.html' %}

{% block title %} Atualizar estudo {% endblock %}

{% block inicial %} 
<div id="page-container">
    <div id="content-wrap">
        <h1>Atualizar Estudo</h1>
        
        {% if user.is_authenticated %}
            <center>
                <form action="" method=POST>
                    <div class="card card-text lista2">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <br>
                    <input type="submit" value="Atualizar" class="navbar" style="background-color: var(--bg5);">
                </form>
            </center>
            

        {% else %}
            <center>
                <div id="page-container">
                    <div id="content-wrap">
                        <h1>Você precisa estar logado para ver essa pagina!</h1>
                    
                        <a href="{% url 'login' %}" id="login">
                            <button type="submit" class="btnlogin" style="width: 30%;">Login</button>
                        </a>
                    </div>
                </div>
            </center>  
        {% endif %}
    </div>    
</div>

{% endblock %}